[user]
  name = "itscturner"
  email = "itscturner5@gmail.com"

[core]
  editor = vim

[alias]
  aliases = config --get-regexp '^alias\\.'
  br = branch
  cm = commit
  co = checkout
  df = diff
  ds = diff --staged
  pl = pull
  st = status

[color]
  ui = auto

[color "branch"]
  current = red bold
  remote = yellow bold

[color "status"]
  branch = blue bold
  added = green bold
  changed = yellow bold
  untracked = red bold

[color "diff"]
  old = red bold
  new = green bold
