@import "./themes/frappe.css";

* {
  font-family: "Maple Mono NF";
  font-size: 18px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

tooltip {
  background: @surface0;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: @red;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  font-weight: bold;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#clock,
#battery,
#pulseaudio,
#custom-lock,
#network,
#custom-power {
  font-weight: bold;
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 1rem 1rem;
/*  border-radius: 0px 1rem 1rem 0px; */
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
/*  border-radius: 0px 1rem 1rem 0px; */
  border-radius: 1rem 0px 0px 1rem;
  background-color: @surface0;
  color: @flamingo;
  font-weight: bold;
}

#pulseaudio {
  color: @yellow;
  margin-left: 0;
  padding-left: 5px;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#custom-lock {
  color: @red;
}

/*
#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
*/

#workspaces button.urgent {
  color: @red;
}
